*{
    margin:0px;
    padding:0px;  
}
html,body { 
    font-family: 'Ubuntu', sans-serif;
    height:100%;
}
.nav{ 
    display:flex;
    background-color: black;
    height:10%;
    align-items:center;
    width:100%;
}
nav ul li{
    margin:auto 20px;
    display:inline-block;
}
nav ul li a{    
    text-decoration:none;
    color:white;
    font-weight:bold;
}
.secl{
    align-items: center;
    display:flex;
    width:70%;
}
.secr{
    display:flex;
    flex-direction:row-reverse;
    width:30%;
}
.carti{   
    height:35px;
    width:35px;
    margin-right:20px;
    
}
#navtxt{
    color:white;
    font-weight:bold;
    font-size:30px;
    margin:auto 20px;
}
.maindiv{
    height:90%;
    width:100%
}
.container{
    position:absolute;
    top:55%;
    left:50%;
    transform: translate(-50%,-50%);
    width:30%;
    border:3px solid black;
    border-radius: 20px;
    margin:auto auto;
}
.text{
    margin:10px auto;
    margin-bottom:20px;
    text-align:center;
}
.text1{
    margin-left:20px;
    margin-top:15px;
    margin-bottom:50px;
}
input{
    width:50vh;
    display:flex;
    border-color:#25262a;
    border-radius:5px;
    margin:14px 20px;
    padding: 10px 10px;
}
button { 
    display:block;
    margin:auto;
    width: 30%; 
    padding: 10px; 
    color: #fff; 
    background-color: #007bff; 
    border-radius: 5px; 
    border:none;
    cursor: pointer; 
}

